[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
cufflinks = "*"
jupyter = "*"
scikit-learn = "*"
scikit-learn-intelex = "*"
wordcloud = "*"
chardet = "*"
xgboost = "*"
langdetect = "*"
django = "*"
nltk = "*"
flask = "*"
streamlit = "*"
deep_translator = "*"

[packages]
django = "*"
nltk = "*"
flask = "*"
streamlit = "*"


[requires]
